Support "/-" for lists

I am wondering if "-" is supported when diffing a list? Our backend uses this to distinguish between existing and new items in a collection. In RFC 6902 [section 4.1](http://tools.ietf.org/html/rfc6902#section-4.1) it says:

> If the "-" character is used to index the end of the array (see [RFC6901]), this has the effect of appending the value to the array.

Is this supported? 

Hey Christian ,
Yes "-" is supported.

Thanks Gopi for the fast response. Maybe I am missing something (very) obvious here, but shouldn't this snippet:

```java
List<Availability> availabilities = new ArrayList<Availability>();
availabilities.add(availability);
```

create a patch like this?

```javascript
[{"op":"add", "path": "/-", "value":{ /* … */ }}]
```

Hey Christian
Apologies for delayed reply,
Yes, while computing diff, Append to list is not being represented as "-", but this "-" is supported while apply patch.
Let me know if you need this to be incorporated OR you can also send a pull-request for same. Both works for me.
Thanks